*.o
/doc/version.xml

/examples/light-client
/examples/light-server

/gupnp-1.0-uninstalled.pc
/gupnp-1.0.pc

/libgupnp/GUPnP-1.0.gir
/libgupnp/GUPnP-1.0.typelib
/libgupnp/gupnp-marshal.c
/libgupnp/gupnp-marshal.h

/m4/gtk-doc.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/tests/gtest/test-context
/tests/test-browsing
/tests/test-introspection
/tests/test-proxy
/tests/test-server
/tests/test-white-list

/vala/gupnp-1.0.stamp
/vala/gupnp-1.0.vapi

/build
.vscode
/.flatpak-builder
/build-dir
*~
*.orig
.cache
